# A futtató gép helyi IP-címe.
# Példa: APP_HOST_IP=192.168.0.61
APP_HOST_IP=192.168.0.61

# A frontend és a backend LAN-on is elérhető lesz.
FRONTEND_BIND_HOST=0.0.0.0
BACKEND_BIND_HOST=0.0.0.0

# Az adatbázis maradjon csak helyben elérhető.
DB_BIND_HOST=127.0.0.1
