<nav class="navbar">
  <div class="nav-left">
    <a
      routerLink="/"
      class="brand"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      StableManager
    </a>

    <ng-container *ngIf="isAuthenticated$ | async"> </ng-container>
  </div>

  <div class="nav-right">
    <ng-container *ngIf="user$ | async as user; else guest">
      <a class="user-chip" routerLink="/settings" routerLinkActive="active">
        {{ user.username }}
      </a>
      <button type="button" class="logout-button" (click)="logout()">Kijelentkezés</button>
    </ng-container>

    <ng-template #guest>
      <a routerLink="/login" class="login-link" routerLinkActive="active"> Bejelentkezés </a>
    </ng-template>
  </div>
</nav>
