<div class="hex-crud-menu">

  <button class="hex-button" (click)="toggleMenu()">
    <div class="hex-shape">
      <i class="fa-solid fa-bars"></i>
    </div>
  </button>

  <div class="hex-menu-list" *ngIf="menuOpen">
    <div
      class="hex-item"
      *ngFor="let action of actions; let i = index"
      [style.animationDelay]="i * 70 + 'ms'"
      (click)="execute(action)"
    >

      <div class="hex-shape">
        <i class="fa-solid" [ngClass]="action.icon"></i>
      </div>

      <div class="connector-line"></div>

      <div class="hex-label">
        {{ action.label }}
      </div>
    </div>
  </div>

</div>
