<!-- FONT IMPORT -->
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
  rel="stylesheet"
/>

<div class="layout">

    <!-- Kártyák -->
    <section class="cards">
      @for (tile of tiles; track tile.title) {
        @if (canViewTile(tile)) {
          <div class="card" [routerLink]="tile.link">
            <span class="material-symbols-rounded icon">{{ tile.icon }}</span>
            <h3>{{ tile.title }}</h3>
            <p>{{ tile.description }}</p>
          </div>
        }
      }
    </section>
</div>
